body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #submit-button {
    display: block;
  }
  
  h1 {
    font-size: 3rem;
  }

  button {
    margin-top: 15px;
    padding: 5px;
  }


  .nat-park-name {
    font-size: 2rem;
    color: green;
    font-weight: bold;
    padding-top: 15px;
    margin-bottom: 0px;
  }

  a {
    color: green;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: green;
    font-weight: bold;
    text-decoration: underline;
  }

  .national-park-list {
    margin: 20px;
  }